@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 300px ;
    color: #000016;
   
    

}


.navigation a{
    color: #0e71ce;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navigation a:hover{
    color: #6fb3f3;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url(dlilconva.png) no-repeat;
    background-size: center;
    background-position: center;
    background-attachment: fixed;
    animation: change 20s infinite ease-in-out;
}

@keyframes change{
    10%
    {
        background-image: url(img6.jpg);
    }
    10%
    {
      
        background-image: url(dlilconva.png);
    }
    20%
    {
        background-image: url(img3.jpg);
    }
    30%
    {
        background-image: url(img4.jpg);
    }
    40%
    {
        background-image: url(img5.jpg);
    }
    50%
    {
        background-image: url(img2.jpg);
    }
    60%
    {
        background-image: url(img7.jpg);
    }
    60%
    {
        background-image: url(img1.jpg);
    }
    70%
    {
        background-image: url(img8.jpg);
    }
    80%
    {
        background-image: url(img9.jpg);
    }
    90%
    {
        background-image: url(img10.jpg);
    }
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    
    
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
}

.card:hover {
    
}

.card .img1 img{
   width: 100%
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #fefeff;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
  
}

.project-card:hover {
  float: right;
}

.project-card:hover .project-image {
    opacity: 0.z;
 }

.project-image img{
    width: 100%
}

.project-title {
    padding: 1.2em;
    text-align: center;
    color: #0a49f6;
}

.project-category {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.project-info {
    text-align: right:
    font-size: 1em;
    color: #000;
    
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
    color: #601cfc;
    padding-left: 100px;
}

.contact .info h3 {
    color: #601cfc;

}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
        
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
.intro h1{
    color:#3a6cf4;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.intro h4{
    color: #000;
    font-size: 1.5em;
    word-spacing: normal;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    align-items: center;
 
}

.image {
    width: 700px;
    height: 500px;
    margin-right: 20px;
    
}
.container {
    text-align: top;
    margin-top: 20px;
    vertical-align: top;
}
.image1

{
    width: 700px;
    height: 700px;
    display: inline-block;
  
   
}
.text{
    font-size: 18px;
    color: #3a6cf4;
    display: inline-block;
   
    margin-left: 40px;
  
}

button{
    background-color: #0e71ce;
    color: white;
}
button{
    padding: 10px 18px;
    font-size: 16px;
}
button{
    border-radius: 5px;
}
button{
    box-shadow: 2px 2px 5px rgba(0, 0,0, 0,2);
    transition: all 0.3s ease;

}
button:hover{
    transform: scale(1.1);
}

button{font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
}
button{
    cursor: pointer;
}

.stacked-text{
    display: block;
    margin-top: 10px;
}
.right-to-left {
    direction: rtl;
}

.container{
    display: flex;
    align-items: center;
}
.image{
    max-width: 200px;
    margin-right: 20px;
    width: 1000vh;
    height: auto;
    object-fit: cover;
}
.text{
    margin-top: 20px;
}
   
body{
   
     font-family: "   DecoType Naskh     ",
     arial,sans-serif;
     
    color:#000016;

}


.hader{
    float: left;
    background-color: #6fb3f3;
}
div{
    direction: rtl;
}
.project-card1 { 
    float: right;
}
.ti{
   
    justify-content: center;
    color: #3a6cf4;
    font-size: 20px;
    font-weight: 200;
    

}